---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - networking.cloud.sap
  resources:
  - accesscontrollists
  - banners
  - certificates
  - devices
  - dns
  - interfaces
  - ntp
  - snmp
  - syslogs
  - users
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.cloud.sap
  resources:
  - accesscontrollists/finalizers
  - banners/finalizers
  - certificates/finalizers
  - devices/finalizers
  - dns/finalizers
  - interfaces/finalizers
  - ntp/finalizers
  - snmp/finalizers
  - syslogs/finalizers
  - users/finalizers
  verbs:
  - update
- apiGroups:
  - networking.cloud.sap
  resources:
  - accesscontrollists/status
  - banners/status
  - certificates/status
  - devices/status
  - dns/status
  - interfaces/status
  - ntp/status
  - snmp/status
  - syslogs/status
  - users/status
  verbs:
  - get
  - patch
  - update
