---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - networking.cloud.sap
  resources:
  - interfaces
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.cloud.sap
  resources:
  - interfaces/finalizers
  verbs:
  - update
- apiGroups:
  - networking.cloud.sap
  resources:
  - interfaces/status
  verbs:
  - get
  - patch
  - update
