apiVersion: networking.cloud.sap/v1alpha1
kind: Device
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
    networking.cloud.sap/role: leaf
    networking.cloud.sap/site: test
    networking.cloud.sap/rack: lab
  annotations:
    nxos.cisco.networking.cloud.sap/dry-run: "true"
    nxos.cisco.networking.cloud.sap/log-default-severity: Debug
    nxos.cisco.networking.cloud.sap/log-history-severity: Debug
    nxos.cisco.networking.cloud.sap/log-history-size: "500"
    nxos.cisco.networking.cloud.sap/log-origin-id: leaf1
    nxos.cisco.networking.cloud.sap/vlan-long-name: "true"
    nxos.cisco.networking.cloud.sap/copp-profile: strict
  name: leaf1
spec:
  endpoint:
    address: 192.168.5.2:9339
    secretRef:
      name: secret-basic-auth
  bootstrap:
    # The bootstrap configuration can also be defined in a ConfigMap or Secret as follows:
    # template:
    #   secretRef:
    #     name: leaf1-bootstrap
    #     key: setup.cfg
    # --- or ---
    # template:
    #   configMapRef:
    #     name: leaf1-bootstrap
    #     key: setup.cfg
    # --- or ---
    template:
      inline: |
        hostname leaf1
        feature grpc
        grpc port 9339
  dns:
    srcIf: mgmt0
    domain: net.cloud.sap
    servers:
      - address: 8.8.8.8
        networkInstance: management
  ntp:
    srcIf: mgmt0
    servers:
      - address: de.pool.ntp.org
        prefer: true
        networkInstance: management
      - address: pool.ntp.org
        prefer: false
        networkInstance: management
  acl:
    - name: mgmt-acl
      entries:
        - sequence: 10
          action: Permit
          sourceAddress: 10.0.0.0/8
          destinationAddress: 0.0.0.0/0
  pki:
    certificates:
      - name: trustpoint
        source:
          secretRef:
            name: network-operator-ca
  logging:
    servers:
      - address: 192.168.55.55 # udp/514
        severity: Info
        networkInstance: management
    facilities:
      - name: user
        severity: Warning
  users:
    - name: user
      password:
        secretKeyRef:
          name: secret-basic-auth
          key: password
      role: network-admin
  grpc:
    port: 9339
    certificateId: trustpoint
    networkInstance: mgmt
    gnmi:
      maxConcurrentCall: 16
      keepAliveTimeout: 600s
      minSampleInterval: 10s
  banner:
    inline: |
      #################################################################
      #                                                               #
      #        WARNING: Unauthorized access is prohibited.            #
      #        All connections are logged and monitored.              #
      #                                                               #
      #################################################################
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
  name: secret-basic-auth
type: kubernetes.io/basic-auth
stringData:
  username: admin
  password: admin
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: network-operator
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: network-operator-ca
spec:
  isCA: true
  subject:
    organizations:
      - SAP SE
  dnsNames:
    - net.cloud.sap
  issuerRef:
    kind: Issuer
    name: network-operator
    group: cert-manager.io
  secretName: network-operator-ca
