apiVersion: networking.metal.ironcore.dev/v1alpha1
kind: Interface
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
    networking.metal.ironcore.dev/device-name: leaf1
  name: lo0
spec:
  deviceRef:
    name: leaf1
  name: lo0
  description: Router-ID Leaf1
  adminState: Up
  type: Loopback
  mtu: 1500
  ipv4:
    addresses:
      - 10.0.0.10/32
#   providerConfigRef:
#     apiVersion: nxos.cisco.networking.metal.ironcore.dev/v1alpha1
#     kind: InterfaceConfig
#     name: leaf-interface-config
---
apiVersion: networking.metal.ironcore.dev/v1alpha1
kind: Interface
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
    networking.metal.ironcore.dev/device-name: leaf1
  name: lo1
spec:
  deviceRef:
    name: leaf1
  name: lo1
  description: VTEP Leaf1
  adminState: Up
  type: Loopback
  mtu: 1500
  ipv4:
    addresses:
      - 10.0.1.10/32
      - 10.1.0.10/32
---
apiVersion: networking.metal.ironcore.dev/v1alpha1
kind: Interface
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
    networking.metal.ironcore.dev/device-name: leaf1
  name: eth1-1
spec:
  deviceRef:
    name: leaf1
  name: eth1/1
  description: Leaf1 to Spine1
  adminState: Up
  type: Physical
  mtu: 9216
  ipv4:
    unnumbered:
      interfaceRef:
        name: lo0
  bfd:
    enabled: true
    desiredMinimumTxInterval: 300ms
    requiredMinimumReceive: 300ms
    detectionMultiplier: 3
---
apiVersion: networking.metal.ironcore.dev/v1alpha1
kind: Interface
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
    networking.metal.ironcore.dev/device-name: leaf1
  name: eth1-2
spec:
  deviceRef:
    name: leaf1
  name: eth1/2
  description: Leaf1 to Spine2
  adminState: Up
  type: Physical
  mtu: 9216
  ipv4:
    unnumbered:
      interfaceRef:
        name: lo0
  bfd:
    enabled: true
    desiredMinimumTxInterval: 500ms
    requiredMinimumReceive: 500ms
    detectionMultiplier: 5
---
apiVersion: networking.metal.ironcore.dev/v1alpha1
kind: Interface
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
    networking.metal.ironcore.dev/device-name: leaf1
  name: eth1-10
spec:
  deviceRef:
    name: leaf1
  name: eth1/10
  description: vPC to Host1
  adminState: Up
  type: Physical
  mtu: 1500
  switchport:
    mode: Trunk
    nativeVlan: 1
    allowedVlans: [10]
---
apiVersion: networking.metal.ironcore.dev/v1alpha1
kind: Interface
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
    networking.metal.ironcore.dev/device-name: leaf1
  name: po-10
spec:
  deviceRef:
    name: leaf1
  name: po10
  description: vPC to Host1
  adminState: Up
  type: Aggregate
  mtu: 1500
  switchport:
    mode: Trunk
    nativeVlan: 1
    allowedVlans: [10]
  aggregation:
    controlProtocol:
      mode: Active
    memberInterfaceRefs:
      - name: eth1-10
    multichassis:
      enabled: true
      id: 2
---
apiVersion: networking.metal.ironcore.dev/v1alpha1
kind: Interface
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
    networking.metal.ironcore.dev/device-name: leaf1
  name: svi-10
spec:
  deviceRef:
    name: leaf1
  name: vlan10
  description: SVI for VLAN 10
  adminState: Up
  type: RoutedVLAN
  mtu: 1500
  vlanRef:
    name: vlan-10
  ipv4:
    addresses:
      - 192.168.10.254/24
    anycastGateway: true
