apiVersion: networking.metal.ironcore.dev/v1alpha1
kind: Device
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
    networking.metal.ironcore.dev/role: leaf
    networking.metal.ironcore.dev/site: test
    networking.metal.ironcore.dev/rack: lab
  name: leaf1
spec:
  endpoint:
    address: 192.168.5.2:9339
    secretRef:
      name: secret-basic-auth
  # provisioning:
  #   The bootstrap configuration can be defined in a ConfigMap, Secret or inline as follows:
  #   bootScript:
  #     secretRef:
  #       name: leaf1-bootstrap
  #       key: setup.cfg
  #   --- or ---
  #   bootScript:
  #     configMapRef:
  #       name: leaf1-bootstrap
  #       key: setup.cfg
  #   --- or ---
  #   bootScript:
  #     inline: |
  #       hostname leaf1
  #       feature grpc
  #       grpc port 9339
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
  name: secret-basic-auth
type: kubernetes.io/basic-auth
stringData:
  username: admin
  password: admin
