apiVersion: networking.cloud.sap/v1alpha1
kind: Interface
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
    networking.cloud.sap/device-name: leaf1
  name: lo0
spec:
  deviceRef:
    name: leaf1
  name: lo0
  description: Router-ID Leaf1
  adminState: Up
  type: Loopback
  mtu: 1500
  ipv4:
    addresses:
      - 10.0.0.10/32
#   providerConfigRef:
#     apiVersion: nxos.cisco.networking.cloud.sap/v1alpha1
#     kind: InterfaceConfig
#     name: leaf-interface-config
---
apiVersion: networking.cloud.sap/v1alpha1
kind: Interface
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
    networking.cloud.sap/device-name: leaf1
  name: lo1
spec:
  deviceRef:
    name: leaf1
  name: lo1
  description: VTEP Leaf1
  adminState: Up
  type: Loopback
  mtu: 1500
  ipv4:
    addresses:
      - 10.0.1.10/32
      - 10.1.0.10/32
---
apiVersion: networking.cloud.sap/v1alpha1
kind: Interface
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
    networking.cloud.sap/device-name: leaf1
  name: eth1-1
spec:
  deviceRef:
    name: leaf1
  name: eth1/1
  description: Leaf1 to Spine1
  adminState: Up
  type: Physical
  mtu: 9216
  ipv4:
    unnumbered:
      interfaceRef:
        name: lo0
---
apiVersion: networking.cloud.sap/v1alpha1
kind: Interface
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
    networking.cloud.sap/device-name: leaf1
  name: eth1-2
spec:
  deviceRef:
    name: leaf1
  name: eth1/2
  description: Leaf1 to Spine2
  adminState: Up
  type: Physical
  mtu: 9216
  ipv4:
    unnumbered:
      interfaceRef:
        name: lo0
---
apiVersion: networking.cloud.sap/v1alpha1
kind: Interface
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
    networking.cloud.sap/device-name: leaf1
  name: eth1-10
spec:
  deviceRef:
    name: leaf1
  name: eth1/10
  description: Leaf1 to Host1
  adminState: Up
  type: Physical
  mtu: 9216
  switchport:
    mode: Trunk
    nativeVlan: 1
    allowedVlans: [10]
