apiVersion: networking.metal.ironcore.dev/v1alpha1
kind: Certificate
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
    networking.metal.ironcore.dev/device-name: leaf1
  name: trustpoint
spec:
  deviceRef:
    name: leaf1
  id: mytrustpoint
  secretRef:
    name: network-operator-ca
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: network-operator
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: network-operator-ca
spec:
  isCA: true
  subject:
    organizations:
      - SAP SE
  dnsNames:
    - net.cloud.sap
  issuerRef:
    kind: Issuer
    name: network-operator
    group: cert-manager.io
  secretName: network-operator-ca
