apiVersion: networking.metal.ironcore.dev/v1alpha1
kind: VRF
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
    networking.metal.ironcore.dev/device-name: leaf1
  name: leaf1-vrfvpckeepalive
spec:
  deviceRef:
    name: leaf1
  name: VPC_KEEPALIVE
  description: VRF for vPC Keepalive
---
apiVersion: networking.metal.ironcore.dev/v1alpha1
kind: Interface
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
    networking.metal.ironcore.dev/device-name: leaf1
  name: eth1-30
spec:
  deviceRef:
    name: leaf1
  name: eth1/30
  description: vPC Keep-Alive
  adminState: Up
  type: Physical
  mtu: 1500
  ipv4:
    addresses:
      - 10.1.1.1/30
  vrfRef:
    name: leaf1-vrfvpckeepalive
---
apiVersion: nx.cisco.networking.metal.ironcore.dev/v1alpha1
kind: InterfaceConfig
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
  name: vpc-peer-link
spec:
  spanningTree:
    portType: Network
  bufferBoost:
    enabled: false
---
apiVersion: networking.metal.ironcore.dev/v1alpha1
kind: Interface
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
    networking.metal.ironcore.dev/device-name: leaf1
  name: eth1-31
spec:
  deviceRef:
    name: leaf1
  providerConfigRef:
    apiVersion: nx.cisco.networking.metal.ironcore.dev/v1alpha1
    kind: InterfaceConfig
    name: vpc-peer-link
  name: eth1/31
  description: vPC Peer-Link
  adminState: Up
  type: Physical
  mtu: 1500
  switchport:
    mode: Trunk
---
apiVersion: networking.metal.ironcore.dev/v1alpha1
kind: Interface
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
    networking.metal.ironcore.dev/device-name: leaf1
  name: eth1-32
spec:
  deviceRef:
    name: leaf1
  providerConfigRef:
    apiVersion: nx.cisco.networking.metal.ironcore.dev/v1alpha1
    kind: InterfaceConfig
    name: vpc-peer-link
  name: eth1/32
  description: vPC Peer-Link
  adminState: Up
  type: Physical
  mtu: 1500
  switchport:
    mode: Trunk
---
apiVersion: networking.metal.ironcore.dev/v1alpha1
kind: Interface
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
    networking.metal.ironcore.dev/device-name: leaf1
  name: po1
spec:
  deviceRef:
    name: leaf1
  providerConfigRef:
    apiVersion: nx.cisco.networking.metal.ironcore.dev/v1alpha1
    kind: InterfaceConfig
    name: vpc-peer-link
  name: po1
  description: vPC Peer-Link
  adminState: Up
  type: Aggregate
  mtu: 1500
  switchport:
    mode: Trunk
  aggregation:
    controlProtocol:
      mode: Active
    memberInterfaceRefs:
      - name: eth1-31
      - name: eth1-32
---
apiVersion: nx.cisco.networking.metal.ironcore.dev/v1alpha1
kind: VPCDomain
metadata:
  labels:
    app.kubernetes.io/name: network-operator
    app.kubernetes.io/managed-by: kustomize
    networking.metal.ironcore.dev/device-name: leaf1
  name: leaf1-vpcdomain
spec:
  deviceRef:
    name: leaf1
  domainId: 5
  adminState: Up
  rolePriority: 100
  systemPriority: 10
  delayRestoreSVI: 140
  delayRestoreVPC: 150
  peer:
    adminState: Up
    interfaceRef:
      name: po1
    switch:
      enabled: true
    gateway:
      enabled: true
    l3router:
      enabled: true
    keepalive:
      source:  10.1.1.1
      destination: 10.1.1.2
      vrfRef:
        name: leaf1-vrfvpckeepalive
    autoRecovery:
      enabled: true
      reloadDelay: 360
  fastConvergence:
    enabled: true
