---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: isis.networking.metal.ironcore.dev
spec:
  group: networking.metal.ironcore.dev
  names:
    kind: ISIS
    listKind: ISISList
    plural: isis
    singular: isis
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.deviceRef.name
      name: Device
      type: string
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ISIS is the Schema for the isis API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: |-
              Specification of the desired state of the resource.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#spec-and-status
            properties:
              addressFamilies:
                description: AddressFamilies is a list of address families for the
                  ISIS instance.
                items:
                  description: AddressFamily represents the address family of an ISIS
                    instance.
                  enum:
                  - IPv4Unicast
                  - IPv6Unicast
                  type: string
                maxItems: 2
                minItems: 1
                type: array
                x-kubernetes-list-type: set
              deviceRef:
                description: |-
                  DeviceName is the name of the Device this object belongs to. The Device object must exist in the same namespace.
                  Immutable.
                properties:
                  name:
                    description: |-
                      Name of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    maxLength: 63
                    minLength: 1
                    type: string
                required:
                - name
                type: object
                x-kubernetes-map-type: atomic
                x-kubernetes-validations:
                - message: DeviceRef is immutable
                  rule: self == oldSelf
              instance:
                description: Instance is the name of the ISIS instance.
                maxLength: 63
                minLength: 1
                type: string
                x-kubernetes-validations:
                - message: Instance is immutable
                  rule: self == oldSelf
              interfaces:
                description: Interfaces is a list of interfaces that are part of the
                  ISIS instance.
                items:
                  properties:
                    bfd:
                      default: {}
                      description: BFD contains BFD configuration for the interface.
                      properties:
                        enabled:
                          default: false
                          description: Enabled indicates whether BFD is enabled on
                            the interface.
                          type: boolean
                      type: object
                    ref:
                      description: |-
                        Ref is a reference to the interface object.
                        The interface object must exist in the same namespace.
                      properties:
                        name:
                          description: |-
                            Name of the referent.
                            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                          maxLength: 63
                          minLength: 1
                          type: string
                      required:
                      - name
                      type: object
                      x-kubernetes-map-type: atomic
                  required:
                  - ref
                  type: object
                type: array
                x-kubernetes-list-type: atomic
              networkEntityTitle:
                description: NetworkEntityTitle is the NET of the ISIS instance.
                pattern: ^[a-fA-F0-9]{2}(\.[a-fA-F0-9]{4}){3,9}\.[a-fA-F0-9]{2}$
                type: string
              overloadBit:
                default: Never
                description: OverloadBit indicates the overload bit of the ISIS instance.
                enum:
                - Always
                - Never
                - OnStartup
                type: string
              providerConfigRef:
                description: |-
                  ProviderConfigRef is a reference to a resource holding the provider-specific configuration of this interface.
                  This reference is used to link the Interface to its provider-specific configuration.
                properties:
                  apiVersion:
                    description: APIVersion is the api group version of the resource
                      being referenced.
                    maxLength: 253
                    minLength: 1
                    pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*\/)?([a-z0-9]([-a-z0-9]*[a-z0-9])?)$
                    type: string
                  kind:
                    description: |-
                      Kind of the resource being referenced.
                      Kind must consist of alphanumeric characters or '-', start with an alphabetic character, and end with an alphanumeric character.
                    maxLength: 63
                    minLength: 1
                    pattern: ^[a-zA-Z]([-a-zA-Z0-9]*[a-zA-Z0-9])?$
                    type: string
                  name:
                    description: |-
                      Name of the resource being referenced.
                      Name must consist of lower case alphanumeric characters, '-' or '.', and must start and end with an alphanumeric character.
                    maxLength: 253
                    minLength: 1
                    pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                    type: string
                required:
                - apiVersion
                - kind
                - name
                type: object
                x-kubernetes-map-type: atomic
              type:
                description: Type indicates the level of the ISIS instance.
                enum:
                - Level1
                - Level2
                - Level1-2
                type: string
            required:
            - addressFamilies
            - deviceRef
            - instance
            - networkEntityTitle
            - type
            type: object
          status:
            description: |-
              Status of the resource. This is set and updated automatically.
              Read-only.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#spec-and-status
            properties:
              conditions:
                description: The conditions are a list of status objects that describe
                  the state of the ISIS.
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
