# SPDX-FileCopyrightText: 2025 SAP SE or an SAP affiliate company and IronCore contributors
# SPDX-License-Identifier: Apache-2.0

name: Test
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - '*'
    paths-ignore:
      - '**.md'
  workflow_dispatch: {}
permissions:
  contents: read
jobs:
  test-e2e:
    name: E2E
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          check-latest: true
          go-version: 1.25.3
      - name: Fetch latest kubectl version
        id: kubectl
        run: |
          KUBECTL_VERSION=$(curl -sL https://dl.k8s.io/release/stable.txt)
          echo "version=$KUBECTL_VERSION" >> $GITHUB_OUTPUT
      - name: Fetch latest kind version
        id: kind
        run: |
          KIND_VERSION=$(curl -s https://api.github.com/repos/kubernetes-sigs/kind/releases/latest | grep '"tag_name":' | cut -d'"' -f4)
          echo "version=$KIND_VERSION" >> $GITHUB_OUTPUT
      - name: Create k8s kind cluster
        uses: helm/kind-action@v1
        with:
          version: ${{ steps.kind.outputs.version }}
          cluster_name: network
          kubectl_version: ${{ steps.kubectl.outputs.version }}
      - name: Running E2E Tests
        run: |
          go mod tidy
          make test-e2e
